---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Franklyn Jaren Ramirez Tinedo | FullStack Junior"
  description="Portafolio profesional de Franklyn Ramirez, Técnico en Ingeniería de Software e IA de Senati."
>
  <Header />

  <main>
    <Hero />
    <About />
    <Skills />
    <Projects />
    <Contact />
  </main>

  <Footer />
</Layout>
